<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <div class="container">
        <h1>.</h1>
        <h1 class="text-center mt-3">My Bikes</h1>
        <hr style="width: 50%"/>

        <h1 class="text-center mb-3">Enduro Bikes</h1>
        <th:block th:each="enduro : ${endurobikes}">
            <div class="bg-blur">
                <div class="row m-3 d-flex">
                    <th:block th:if="${enduro.frame == enduro.frame.TREK}">
                        <img src="/img/enduro-bike.jpg" class="border border-secondary" alt="enduro image"
                             height="230" width="360"/>
                    </th:block>
                    <th:block th:if="${enduro.frame == enduro.frame.SCOTT}">
                        <img src="/img/enduro-bike2.jpg" class="border border-secondary" alt="enduro image"
                             height="230" width="360"/>
                    </th:block>
                    <th:block th:if="${enduro.frame == enduro.frame.SPECIALIZED}">
                        <img src="/img/enduro-bike3.jpg" class="border border-secondary" alt="enduro image"
                             height="230" width="360"/>
                    </th:block>
                    <div class="row ml-5 d-flex flex-column">
                        <h2>Name: <span th:text="${enduro.name}"></span></h2>
                        <h4>Frame: <span th:text="${enduro.frame}"></span></h4>
                        <h4>Fork: <span th:text="${enduro.fork}"></span></h4>
                        <h4>Tires: <span th:text="${enduro.tires}"></span></h4>
                        <h4>Brakes: <span th:text="${enduro.brakes}"></span></h4>
                    </div>
                    <div class="row ml-5 d-flex flex-column">
                        <div class="button-holder d-flex justify-content-center">
                            <a th:href="@{/bikes/delete/enduro/{id}(id=${enduro.getId()})}">
                                <button class="btn badge-dark mb-3" type="submit">Delete Enduro Bike</button>
                            </a>
                        </div>
                        <div class="button-holder d-flex justify-content-center">
                            <a th:href="@{/bikes/edit/enduro/{id}(id=${enduro.getId()})}">
                                <button class="btn badge-dark mb-3" type="submit">Edit Enduro Bike</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

        <h1 class="text-center mb-3">Downhill Bikes</h1>
        <th:block th:each="dh : ${downhillbikes}">
            <div class="bg-blur">
                <div class="row m-3 d-flex">
                    <th:block th:if="${dh.frame == dh.frame.SANTACRUZ}">
                        <img src="/img/dh-bike4.jpg" class="border border-secondary" alt="dh image"
                             height="230" width="360"/>
                    </th:block>
                    <th:block th:if="${dh.frame == dh.frame.EVIL}">
                        <img src="/img/dh-bike2.jpg" class="border border-secondary" alt="dh image"
                             height="230" width="360"/>
                    </th:block>
                    <th:block th:if="${dh.frame == dh.frame.YTTUES}">
                        <img src="/img/dh-bike5.jpg" class="border border-secondary" alt="dh image"
                             height="230" width="360"/>
                    </th:block>
                    <div class="row ml-5 d-flex flex-column">
                        <h2>Name: <span th:text="${dh.name}"></span></h2>
                        <h4>Frame: <span th:text="${dh.frame}"></span></h4>
                        <h4>Fork: <span th:text="${dh.fork}"></span></h4>
                        <h4>Tires: <span th:text="${dh.tires}"></span></h4>
                        <h4>Brakes: <span th:text="${dh.brakes}"></span></h4>
                    </div>
                    <div class="row ml-5 d-flex flex-column">
                        <div class="button-holder d-flex justify-content-center">
                            <a th:href="@{/bikes/delete/downhill/{id}(id=${dh.getId()})}">
                                <button class="btn badge-dark mb-3" type="submit">Delete Downhill Bike</button>
                            </a>
                        </div>
                        <div class="button-holder d-flex justify-content-center">
                            <a th:href="@{/bikes/edit/downhill/{id}(id=${dh.getId()})}">
                                <button class="btn badge-dark mb-3" type="submit">Edit Downhill Bike</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

        <h1 class="text-center mb-3">CrossCountry Bikes</h1>
        <th:block th:each="xc : ${crosscountrybikes}">
            <div class="bg-blur">
                <div class="row m-3 d-flex">
                    <img src="/img/xc-bike.jpg" class="border border-secondary" alt="xc image"
                         height="230" width="360"/>
                    <div class="row ml-5 d-flex flex-column">
                        <h2>Name: <span th:text="${xc.name}"></span></h2>
                        <h4>Frame: <span th:text="${xc.frame}"></span></h4>
                        <h4>Fork: <span th:text="${xc.fork}"></span></h4>
                        <h4>Tires: <span th:text="${xc.tires}"></span></h4>
                        <h4>Brakes: <span th:text="${xc.brakes}"></span></h4>
                    </div>
                    <div class="row ml-5 d-flex flex-column">
                        <div class="button-holder d-flex justify-content-center">
                            <a th:href="@{/bikes/delete/crosscountry/{id}(id=${xc.getId()})}">
                                <button class="btn badge-dark mb-3" type="submit">Delete CrossCountry Bike</button>
                            </a>
                        </div>
                        <div class="button-holder d-flex justify-content-center">
                            <a th:href="@{/bikes/edit/crosscountry/{id}(id=${xc.getId()})}">
                                <button class="btn badge-dark mb-3" type="submit">Edit CrossCountry Bike</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

        <h1 class="text-center mb-3">BMX Bikes</h1>
        <th:block th:each="bmx : ${bmxbikes}">
            <div class="bg-blur">
                <div class="row m-3 d-flex">
                    <th:block th:if="${bmx.frame == bmx.frame.KINK}">
                        <img src="/img/bmx-bike.jpg" class="border border-secondary" alt="bmx image"
                             height="230" width="360"/>
                    </th:block>
                    <th:block th:if="${bmx.frame == bmx.frame.FRAMED}">
                        <img src="/img/bmx-bike2.jpg" class="border border-secondary" alt="bmx image"
                             height="230" width="360"/>
                    </th:block>
                    <th:block th:if="${bmx.frame == bmx.frame.PROTON}">
                        <img src="/img/bmx-bike3.jpg" class="border border-secondary" alt="bmx image"
                             height="230" width="360"/>
                    </th:block>
                    <div class="row ml-5 d-flex flex-column">
                        <h2>Name: <span th:text="${bmx.name}"></span></h2>
                        <h4>Frame: <span th:text="${bmx.frame}"></span></h4>
                        <h4>Tires: <span th:text="${bmx.tires}"></span></h4>
                    </div>
                    <div class="row ml-5 d-flex flex-column">
                        <div class="button-holder d-flex justify-content-center">
                            <a th:href="@{/bikes/delete/bmx/{id}(id=${bmx.getId()})}">
                                <button class="btn badge-dark mb-3" type="submit">Delete BMX Bike</button>
                            </a>
                        </div>
                        <div class="button-holder d-flex justify-content-center">
                            <a th:href="@{/bikes/edit/bmx/{id}(id=${bmx.getId()})}">
                                <button class="btn badge-dark mb-3" type="submit">Edit BMX Bike</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

        <div class="mb-5"></div>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>