<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <div class="container">
        <h1>.</h1>
        <h2 class="text-center mt-3">Bikes</h2>
        <img src="/img/dh-s-bike.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <img src="/img/dh-bike.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <img src="/img/dh-bike2.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <img src="/img/dh-bike3.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <img src="/img/dh-bike4.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <img src="/img/dh-bike5.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <img src="/img/enduro-bike.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <img src="/img/enduro-bike2.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <img src="/img/xc-bike.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <img src="/img/bmx-bike.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <img src="/img/bmx-bike2.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <img src="/img/some-bike.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <img src="/img/road-bike.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <img src="/img/road-bike2.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <img src="/img/road-bike3.jpg" class="border border-secondary" alt="bike image"
             height="230"
             width="360"/>
        <h1>.</h1>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>