<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main class="container">
    <h1>.</h1>
    <h1 class="text-center mt-3">Edit Enduro Bike</h1>
    <form class="mx-auto w-100 bg-blur" th:action="@{/bikes/edit/enduro/{id}(id=${enduroId})}" method="post">

        <div class="form-group">
            <h2 class="text-white">Name</h2>
            <input type="text" class="form-control mx-auto w-25" name="name" th:value="${enduro.name}"/>
        </div>

        <div class="form-group">

            <div class="row flex-md-row">
                <div class="col col-sm-1"></div>
                <h2 class="text-white">Frame:</h2>
                <div class="ml-lg-5">
                    <img src="/img/enduro-trek.jpg" class="border border-secondary"
                         width="200" height="200"/>
                    <h3 class="text-white text-left">
                        <input type="radio" class="ml-lg-5" value="TREK" name="frame"
                               th:checked="${enduro.frame == enduro.frame.TREK}">Trek
                    </h3>
                </div>
                <div class="ml-lg-5">
                    <img src="/img/enduro-specialized.jpg" class="border border-secondary"
                         width="200" height="200"/>
                    <h3 class="text-white text-left">
                        <input type="radio" class="ml-lg-5" value="SPECIALIZED" name="frame"
                               th:checked="${enduro.frame == enduro.frame.SPECIALIZED}">Specialized
                    </h3>
                </div>
                <div class="ml-lg-5">
                    <img src="/img/enduro-scott.jpg" class="border border-secondary"
                         width="200" height="200"/>
                    <h3 class="text-white text-left">
                        <input type="radio" class="ml-lg-5" value="SCOTT" name="frame"
                               th:checked="${enduro.frame == enduro.frame.SCOTT}">Scott
                    </h3>
                </div>
            </div>

            <div class="row flex-md-row">
                <div class="col col-sm-1"></div>
                <h2 class="text-white">Fork:</h2>
                <div class="ml-lg-5">
                    <img src="/img/enduro-rockshox.jpg" class="border border-secondary"
                         width="220" height="200"/>
                    <h3 class="text-white text-left">
                        <input type="radio" class="ml-lg-5" value="ROCKSHOX" name="fork"
                               th:checked="${enduro.fork == enduro.fork.ROCKSHOX}">RockShox
                    </h3>
                </div>
                <div class="ml-lg-5">
                    <img src="/img/enduro-fox.jpeg" class="border border-secondary"
                         width="120" height="200"/>
                    <h3 class="text-white text-left">
                        <input type="radio" class="ml-lg-5" value="FOX" name="fork"
                               th:checked="${enduro.fork == enduro.fork.FOX}">Fox
                    </h3>
                </div>
                <div class="ml-lg-5">
                    <img src="/img/enduro-ohlins.jpg" class="border border-secondary"
                         width="320" height="200"/>
                    <h3 class="text-white text-left">
                        <input type="radio" class="ml-lg-5" value="OHLINS" name="fork"
                               th:checked="${enduro.fork == enduro.fork.OHLINS}">Ohlins
                    </h3>
                </div>
            </div>

            <div class="row flex-md-row">
                <div class="col col-sm-1"></div>
                <h2 class="text-white">Tires:</h2>
                <div class="ml-lg-5">
                    <img src="/img/enduro-26.jpg" class="border border-secondary"
                         width="220" height="150"/>
                    <h3 class="text-white text-left">
                        <input type="radio" class="ml-lg-5" value="TIRES26" name="tires"
                               th:checked="${enduro.tires == enduro.tires.TIRES26}">26
                    </h3>
                </div>
                <div class="ml-lg-5">
                    <img src="/img/enduro-27.5.jpg" class="border border-secondary"
                         width="220" height="150"/>
                    <h3 class="text-white text-left">
                        <input type="radio" class="ml-lg-5" value="TIRES27" name="tires"
                               th:checked="${enduro.tires == enduro.tires.TIRES27}">27.5
                    </h3>
                </div>
                <div class="ml-lg-5">
                    <img src="/img/enduro-29.jpg" class="border border-secondary"
                         width="220" height="150"/>
                    <h3 class="text-white text-left">
                        <input type="radio" class="ml-lg-5" value="TIRES29" name="tires"
                               th:checked="${enduro.tires == enduro.tires.TIRES29}">29
                    </h3>
                </div>
            </div>

            <div class="row flex-md-row">
                <div class="col col-sm-1"></div>
                <h2 class="text-white">Brakes:</h2>
                <div class="ml-lg-5">
                    <img src="/img/shimano-xt.jpg" class="border border-secondary"
                         width="200" height="200"/>
                    <h4 class="text-white text-left">
                        <input type="radio" class="ml-lg-5" value="SHIMANOXT" name="brakes"
                               th:checked="${enduro.brakes == enduro.brakes.SHIMANOXT}">Shimano XT
                    </h4>
                </div>
                <div class="ml-lg-5">
                    <img src="/img/magura-mt7.png" class="border border-secondary"
                         width="200" height="200"/>
                    <h4 class="text-white text-left">
                        <input type="radio" class="ml-lg-5" value="MAGURAMT7" name="brakes"
                               th:checked="${enduro.brakes == enduro.brakes.MAGURAMT7}">Magura MT7
                    </h4>
                </div>
                <div class="ml-lg-5">
                    <img src="/img/sram-code-r.jpeg" class="border border-secondary"
                         width="200" height="200"/>
                    <h4 class="text-white text-left">
                        <input type="radio" class="ml-lg-5" value="SRAMCODER" name="brakes"
                               th:checked="${enduro.brakes == enduro.brakes.SRAMCODER}">Sram Code R
                    </h4>
                </div>
            </div>

        </div>

        <div class="button-holder d-flex justify-content-center">
            <button class="btn badge-dark mb-3" type="submit">Edit Enduro Bike</button>
        </div>

    </form>
    <h1>.</h1>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>